@model IEnumerable<PoolOfBooks.Models.Cart>


@{
}



<div class="container">
    <h4 style="margin-top: 80px;">Корзина</h4>
    <hr />
    <h5>Аренда</h5>
    @foreach (var item in Model.Where(x => x.status == "аренда"))
    {
        string id = item.Books.id.ToString();
        string name = item.Books.name.ToString();
        <div class="catalog__card" id="@(id)">
            <div class="catalog-card__wrap-img">
                <a action="get" href="~/Books/Details/@id">
                    <img src="~/img/books/@(id).jpg"
                         alt="Book: @(name)"
                         class="products-card__img" />
                </a>
            </div>
            <!-- /.products-card__wrap-img -->
            <div class="products-card__content">
                <h4 class="catalog__title products-card__title">
                    @Html.DisplayFor(modelItem => item.Books.name)
                </h4>
                <span class="catalog__author products-card__collection">@Html.DisplayFor(modelItem => item.Books.author)</span>
                <span class="catalog__price products-card__price">@Html.DisplayFor(modelItem => item.Books.price) &#8381;</span>
                
                <a href="~/carts/Delete/@(item.id)">
                    <input type="submit" value="Удалить" class="button catalog__btn products-card__btn" />
                </a>
            </div>
            <!-- /.products-card__content -->
        </div>
        <!-- /.products-card products__card -->
    }

    <a href="~/CreateOrderRent">
        <button class="button catalog__btn products-card__btn">Оформить</button>
    </a>

    <hr />
    <h5>Продажа</h5>

    @foreach (var item in Model.Where(x => x.status == "продажа"))
    {
        string id = item.Books.id.ToString();
        string name = item.Books.name.ToString();
        <div class="catalog__card" id="@(id)">
            <div class="catalog-card__wrap-img">
                <a action="get" href="~/Books/Details/@id">
                    <img src="~/img/books/@(id).jpg"
                         alt="Book: @(name)"
                         class="products-card__img" />
                </a>
            </div>
            <!-- /.products-card__wrap-img -->
            <div class="products-card__content">
                <h4 class="catalog__title products-card__title">
                    @Html.DisplayFor(modelItem => item.Books.name)
                </h4>
                <span class="catalog__author products-card__collection">@Html.DisplayFor(modelItem => item.Books.author)</span>
                <span class="catalog__price products-card__price">@Html.DisplayFor(modelItem => item.Books.price) &#8381;</span>
                <a href="~/carts/Delete/@(item.id)">
                    <input type="submit" value="Удалить" class="button catalog__btn products-card__btn" />
                </a>
            </div>
            <!-- /.products-card__content -->
        </div>
        <!-- /.products-card products__card -->
    }
            
    <a href="~/CreateOrderBuy">
        <button class="button catalog__btn products-card__btn">Оформить</button>
    </a>
</div>