@model PoolOfBooks.Models.Users

@{
    ViewData["Title"] = "Details";
    var id = User.FindFirst("ID").Value;
}

<h1>Details</h1>
<a action="~/Cart/Details/@id)"><h4>Корзина</h4></a>

<h5>Аренда</h5>


<h5>Покупка</h5>
    
<hr />
<div>
    <h4>Users</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.last_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.last_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.first_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.first_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.third_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.third_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
    </dl>
</div>
<hr />
<h4>Заказы (Аренда)</h4>
@{
    if (Model.Order_Rents != null)
    {
        var orders = Model.Order_Rents.ToList();

        @if (orders != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <strong>Номер заказа</strong>
                        </th>
                        <th>
                            <strong>Дата оформления</strong>
                        </th>
                        <th>
                            <strong>Дата окончания</strong>
                        </th>
                        <th>
                            <strong>Сумма</strong>
                        </th>
                        <th>
                            <strong>Статус</strong>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in orders)
                    {
                        <tr>
                            <td>
                                @c.id
                            </td>
                            <td>
                                @c.date_begin
                            </td>
                            <td>
                                @c.date_end
                            </td>
                            <td>
                                @c.sum
                            </td>
                            <td>
                                @c.status
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {

        }
    }
   
}



<hr />
<h4>Заказы (Покупка)</h4>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
