@model PoolOfBooks.Models.Users

@{
    var id = User.FindFirst("ID").Value;
    var count = ViewData["CartCount"];
    string a = "@";
}

<section class="login container">



@if (User.IsInRole("client"))
{
    <h1 class="form-title">Личный кабинет</h1>
<a href="~/Carts/Details/@(id)" class="cart-string">Корзина (@count)</a>

<div>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="id" />
                <div class="form-group">
                    <label asp-for="login" class="control-label"></label>
                    <input asp-for="login" class="form-control" type="email" value="@(Model.login)" pattern="/^([a-z0-9_\.-])+@a+[a-z0-9-]+\.([a-z]{2,4}\.)?[a-z]{2,4}$/i"
                      required />
                    <span asp-validation-for="login" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="password" class="control-label" style="display: none;"></label>
                    <input asp-for="password" type="hidden" value="@(Model.password)" class="form-control" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="role" style="display: none;" class="control-label"></label>
                    <input asp-for="role" type="hidden" class="form-control" />
                    <span asp-validation-for="role" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="phone" class="control-label"></label>
                    <input asp-for="phone" class="form-control" type="tel" value="@(Model.phone)" placeholder="+7xxxxxxxxxx" minlength="12" maxlength="12" required />
                    <span asp-validation-for="phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="last_name" class="control-label"></label>
                    <input asp-for="last_name" class="form-control" value="@(Model.last_name)" />
                    <span asp-validation-for="last_name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="first_name" class="control-label"></label>
                    <input asp-for="first_name" class="form-control" value="@(Model.first_name)" />
                    <span asp-validation-for="first_name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="third_name" class="control-label"></label>
                    <input asp-for="third_name" class="form-control" value="@(Model.third_name)" />
                    <span asp-validation-for="third_name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="address" class="control-label"></label>
                    <input asp-for="address" class="form-control" value="@(Model.address)" />
                    <span asp-validation-for="address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a href="~/UpdateUser"><input type="submit" value="Сохранить" class="btn btn-primary" /></a>
                </div>
            </form>

</div>
<hr />
        <h4 class="form-title">Заказы (Аренда)</h4>

    if (Model.Order_Rent != null)
    {
        var orders = Model.Order_Rent.Where(x => x.id_client == Convert.ToInt32(id));
        

        @if (orders.Count() != 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <strong>Номер заказа</strong>
                        </th>
                        <th>
                            <strong>Дата оформления</strong>
                        </th>
                        <th>
                            <strong>Дата окончания</strong>
                        </th>
                        <th>
                            <strong>Сумма</strong>
                        </th>
                        <th>
                            <strong>Статус</strong>
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in orders)
                    {
                        <tr>
                            <td>
                                @c.id
                            </td>
                            <td>
                                @c.date_begin
                            </td>
                            <td>
                                @c.date_end
                            </td>
                            <td>
                                @c.sum.Value
                            </td>
                            <td>
                                @c.status
                            </td>
                            <td>
                                    <a href="~/Order_Rent_Books/Details/@c.id">Книги</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {

        }

    }


<hr />
        <h4 class="form-title">Заказы (Покупка)</h4>
    if (Model.Order_Buy != null)
    {
        var buys = Model.Order_Buy.Where(x => x.id_client == Convert.ToInt32(id));

        @if (buys.Count() != 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <strong>Номер заказа</strong>
                        </th>
                        <th>
                            <strong>Дата оформления</strong>
                        </th>
                        <th>
                            <strong>Сумма</strong>
                        </th>
                        <th>
                            <strong>Статус</strong>
                        </th>
                        <th>
                            
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in buys)
                    {
                        <tr>
                            <td>
                                @c.id
                            </td>
                            <td>
                                @c.date
                            </td>
                            <td>
                                @c.sum.Value
                            </td>
                            <td>
                                @c.status
                            </td>
                            <td>
                                <a href="~/Order_Buy_Books/details/@c.id">Книги</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    }
    

}
else
{
    <div style="container">
        <ul style="margin-top: 100px;">
            <a href="~/Order_Rent/index">
            <li>Заказы (Аренда)</li></a>
            <a href="~/Order_Buy/index">
            <li>Заказы (Продажа)</li></a>
            <a href="~/Books/index">
            <li>Книги</li></a>
            <a href="~/Categories/index">
            <li>Категории</li></a>
            <a href="~/Users/index">
            <li>Категории</li></a>
        </ul>
    </div>
    
}
</section>
