@model PoolOfBooks.Models.Users

@{
    ViewData["Title"] = "Delete";
}
<section class="login container">

<h1 class="form-title">Детали аккаунта @Model.login</h1>

<div>

    <p><strong class="book__feature">@Html.DisplayNameFor(m => m.role):</strong><span>@Html.DisplayFor(m => m.role)</span></p>


    <p><strong class="book__feature">@Html.DisplayNameFor(m => m.phone):</strong><span>@Html.DisplayFor(m => m.phone)</span></p>


    <p><strong class="book__feature">@Html.DisplayNameFor(m => m.last_name):</strong><span>@Html.DisplayFor(m => m.last_name)</span></p>

    <p><strong class="book__feature">@Html.DisplayNameFor(m => m.first_name):</strong><span>@Html.DisplayFor(m => m.first_name)</span></p>

    <p><strong class="book__feature">@Html.DisplayNameFor(m => m.third_name):</strong><span>@Html.DisplayFor(m => m.third_name)</span></p>

    <p><strong class="book__feature">@Html.DisplayNameFor(m => m.address):</strong><span>@Html.DisplayFor(m => m.address)</span></p>
    
</div>

<div>
        <a class="admin__btn" asp-action="Edit" asp-route-id="@Model?.id">Редактировать</a>
        <a class="form-link" asp-action="Index">Вернуться</a>
</div>
</section>