@model IEnumerable<PoolOfBooks.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<section class="login container">

<h1 class="form-title">Категории книг</h1>

<p>
    <a class="form-link"asp-action="Create">Добавить новую категорию</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                        <a class="form-link" asp-action="Edit" asp-route-id="@item.id">Редактировать</a> |
                        <a class="form-link" asp-action="Details" asp-route-id="@item.id">Детали</a> |
                        <a class="form-link" asp-action="Delete" asp-route-id="@item.id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
</section>