@model PoolOfBooks.Models.Order_Rent

@{
    ViewData["Title"] = "Delete";
}
    
<section class="login container">

    <h1 class="form-title">Удаление заказа</h1>

    <h3 class="form-title">Вы уверены, что хотите удалить заказ?</h3>

        <div>

        <p><strong class="book__feature">@Html.DisplayNameFor(model => model.id):</strong><span>@Html.DisplayFor(model => model.id)</span></p>

        <p><strong class="book__feature">@Html.DisplayNameFor(model => model.date_begin):</strong><span>@Html.DisplayFor(model => model.date_begin)</span></p>

            <p><strong class="book__feature">@Html.DisplayNameFor(m => m.date_end):</strong><span>@Html.DisplayFor(m => m.date_end)</span></p>


            <p><strong class="book__feature">@Html.DisplayNameFor(m => m.sum):</strong><span>@Html.DisplayFor(m => m.sum)</span></p>


            <p><strong class="book__feature">@Html.DisplayNameFor(m => m.address):</strong><span>@Html.DisplayFor(m => m.address)</span></p>

            <p><strong class="book__feature">@Html.DisplayNameFor(m => m.status):</strong><span>@Html.DisplayFor(m => m.status)</span></p>

            <p><strong class="book__feature">@Html.DisplayNameFor(m => m.Users.first_name):</strong><span>@Html.DisplayFor(m => m.Users.first_name)</span></p>

            <p><strong class="book__feature">@Html.DisplayNameFor(m => m.Users.last_name):</strong><span>@Html.DisplayFor(m => m.Users.last_name)</span></p>
        </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="id" />
            <input type="submit" value="Удалить" class="btn btn-danger btn-primary" /> |
        <a class="form-link" asp-action="Index">Вернуться</a>
        </form>

    </section>
    
