@model PoolOfBooks.Models.Order_Rent

@{
    ViewData["Title"] = "Details";
}

<section class="login container">

    <h1 class="form-title">Детали заказа @Html.DisplayFor(model => model.id)</h1>

<div>
    
    <p><strong class="book__feature">@Html.DisplayNameFor(model => model.date_begin):</strong><span>@Html.DisplayFor(model => model.date_begin)</span></p>

    <p><strong class="book__feature">@Html.DisplayNameFor(m => m.date_end):</strong><span>@Html.DisplayFor(m => m.date_end)</span></p>


    <p><strong class="book__feature">@Html.DisplayNameFor(m => m.sum):</strong><span>@Html.DisplayFor(m => m.sum)</span></p>


    <p><strong class="book__feature">@Html.DisplayNameFor(m => m.address):</strong><span>@Html.DisplayFor(m => m.address)</span></p>
    
    <p><strong class="book__feature">@Html.DisplayNameFor(m => m.status):</strong><span>@Html.DisplayFor(m => m.status)</span></p>

        <a class="form-link" href="~/Users/DetailsForAdmin/@Model.Users.id">
            <p><strong class="book__feature">@Html.DisplayNameFor(m => m.Users.first_name):</strong><span>@Html.DisplayFor(m => m.Users.first_name)</span></p>

            <p><strong class="book__feature">@Html.DisplayNameFor(m => m.Users.last_name):</strong><span>@Html.DisplayFor(m => m.Users.last_name)</span></p>
        </a>
</div>
<div>
        <a class="admin__btn" asp-action="Edit" asp-route-id="@Model?.id">Редактировать</a>
        <a class="form-link" asp-action="Index">Вернуться</a>
</div>

</section>