@model IEnumerable<PoolOfBooks.Models.Order_Rent>

@{
    ViewData["Title"] = "Index";
}

<section class="login container">

<h1 class="form-title">Заказы (аренда)</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date_begin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_end)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date_begin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_end)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                        <a class="form-link" asp-action="Edit" asp-route-id="@item.id">Редактировать</a> |
                        <a class="form-link" asp-action="Details" asp-route-id="@item.id">Детали</a> |
                        <a class="form-link" asp-action="Delete" asp-route-id="@item.id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
</section>