
@model IEnumerable<PoolOfBooks.Models.Order_Buy_Books>


@{
    ViewData["Title"] = "Details";
}

<section class="login container">

<h1 class="form-title">Книги в заказе #@(Model.FirstOrDefault().id_order)</h1>

    <div class="cart">

        @foreach (var item in Model)
        {
            string id = item.Books.id.ToString();
            string name = item.Books.name.ToString();
            <a class="catalog-card__a" action="get" href="~/Books/Details/@id">
                <div class="catalog__card" id="@(id)">
                    <div class="catalog-card__wrap-img">

                        <img src="~/img/books/@(id).jpg"
                             alt="Book: @(name)"
                             class="products-card__img" />

                    </div>
                    <!-- /.products-card__wrap-img -->
                    <div class="cart-card__content products-card__content">
                        @*<a action="get" href="~/Books/Details/@id">*@
                        <h4 class="catalog__title products-card__title">
                            @Html.DisplayFor(modelItem => item.Books.name)
                        </h4>
                        @*</a>*@
                        <span class="catalog__author products-card__collection">@Html.DisplayFor(modelItem => item.Books.author)</span>
                        <span class="catalog__price products-card__price">@Html.DisplayFor(modelItem => item.Books.price) &#8381;</span>


                    </div>
                    <!-- /.products-card__content -->
                </div>
                <!-- /.products-card products__card -->
            </a>
        }



    </div>
</section>
