@model PoolOfBooks.Models.Books

@{
    ViewData["Title"] = "Delete";
}

<section class="login container">

<h1 class="form-title">Удаление книги</h1>

    <h3 class="form-title">Вы уверены, что хотите удалить эту книгу?</h3>
<div>
        <p><strong class="book__feature">@Html.DisplayNameFor(m => m.name):</strong><span>@Html.DisplayFor(m => m.name)</span></p>



        <p><strong class="book__feature">@Html.DisplayNameFor(m => m.author):</strong><span>@Html.DisplayFor(m => m.author)</span></p>


        <p><strong class="book__feature">@Html.DisplayNameFor(m => m.buyPrice):</strong><span>@Html.DisplayFor(m => m.buyPrice)</span></p>


        <p><strong class="book__feature">@Html.DisplayNameFor(m => m.sellPrice):</strong><span>@Html.DisplayFor(m => m.sellPrice)</span></p>

        <p><strong class="book__feature">@Html.DisplayNameFor(m => m.count_was_read):</strong><span>@Html.DisplayFor(m => m.count_was_read) раз(а)</span></p>

    
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
            <input type="submit" value="Удалить" class="btn btn-danger btn-primary" /> 
        <a href="~/Books/Details/@Model.id" class="form-link">Вернуться</a>
    </form>
</div>
</section>