@model PoolOfBooks.Models.Books

@{
    ViewData["Title"] = "Details";

    string id = Model.id.ToString();
    string name = Model.name.ToString();
}


<section class="login container">
<div class="book">
        
    <div class="book__wrap-img">
        <a action="get" href="~/Books/Details/@id">
            <img src="~/img/books/@(id).jpg"
                 alt="Book: @(name)"
                 class="products-card__img" />
        </a>
    </div>
    <div class="book__wrap-content">
            <h1 class="form-title">@Html.DisplayFor(m => m.name)</h1>

            <strong>
                @if(Model.status == "аренда")
                {
                    <span class="book__price">@Html.DisplayFor(m => m.price) &#8381;</span>
                }
                else
                {
                    <span class="book__price">@Html.DisplayFor(m => m.sellPrice) &#8381;</span>
                }
                    

            </strong>

            <p><strong class="book__feature">@Html.DisplayNameFor(m => m.author):</strong><span>@Html.DisplayFor(m => m.author)</span></p>
            


            <p><strong class="book__feature">@Html.DisplayNameFor(m => m.cycle):</strong><span>@Html.DisplayFor(m => m.cycle)</span></p>
            

            <p><strong class="book__feature">@Html.DisplayNameFor(m => m.pages):</strong><span>@Html.DisplayFor(m => m.pages)</span></p>
            

            <p><strong class="book__feature">@Html.DisplayNameFor(m => m.id_category):</strong><span>@Html.DisplayFor(m => m.Category.name)</span></p>

            <p><strong class="book__feature">@Html.DisplayNameFor(m => m.count_was_read):</strong><span>@Html.DisplayFor(m => m.count_was_read) раз(а)</span></p>
            

            @if (User.Identity.IsAuthenticated)
            {
                <a href="~/CartAdd/@(User.FindFirst("ID").Value.ToString())/@(Model.id)/@(Model.status)">
                    <button class="button book__btn">В корзину</button>
                </a>
            }
            else
            {
                <a href="~/Users/LoginNotify">
                    <button class="button book__btn">В корзину</button>
                </a>
            }
            @if (User.IsInRole("admin"))
            {
                <a href="~/Books/Edit/@Model.id" class="admin__btn">Редактировать</a>

                <a href="~/Books/Delete/@Model.id" class="admin__btn">Удалить</a>
            }
    </div>
    

</div>
    <div class="book__description-wrap">
        <strong class="book__feature">@Html.DisplayNameFor(m => m.description)</strong>
        <p class="book__description">@Html.DisplayFor(m => m.description)</p>
    </div>
</section>
