@model IEnumerable<PoolOfBooks.Models.Books>

<div class="container login">

<h1 class="form-title">Каталог</h1>
@if(User.IsInRole("admin")){
        <a href="~/Books/Create" class="admin__btn">Добавить книгу</a>
    }
    <form method="get">
    @*<div class="sort">
        <ul class="sort-list">
            
            <li class="sort-list__item">Сортировка:</li>

            <a class="sort-list__item" asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
            <li>По названию</li></a>
            
            <a class="sort-list__item" asp-action="Index" asp-route-sortOrder="@ViewBag.AuthorSort">
            <li>По автору</li></a>
            
            <a class="sort-list__item" asp-action="Index" asp-route-sortOrder="@ViewBag.PriceSort">
            <li>По цене</li></a>
            
            <a class="sort-list__item" asp-action="Index" asp-route-sortOrder="@ViewBag.StatusSort">
            <li>Аренда / Покупка</li></a>
            
        </ul>
    </div>*@
    
        <div>
            <div class="form-group d-inline-block">
            <label class="control-label">Сортировка: </label>
            <select class="form-control mr-30" name="sort" asp-items="@ViewBag.sort"></select>
            </div>
            <div class="form-group d-inline-block">
            <label class="control-label">Поиск: </label>
            <input class="form-control mr-30" name="name" value="@ViewBag.name"/>
            </div>
             
            <div class="form-group d-inline-block">
            <label class="control-label">Жанр: </label>
            <select class="form-control mr-30" name="category" asp-items="@ViewBag.category"></select>
            </div>

            <input type="submit" value="Фильтр" class="btn btn-primary"/>
        </div>
    </form>
    
<div class="catalog">

        <h3 class="form-title" style="width: 100%;">Аренда</h3>
    @foreach (var item in Model.Where(s => s.status == "аренда"))
    {
        @if (item.in_stock > 0)
        {
            string id = item.id.ToString();
            string name = item.name.ToString();
            <div class="catalog__card" id="@(id)">
                <div class="catalog-card__wrap-img">
                    <a action="get" href="~/Books/Details/@id">
                        <img src="~/img/books/@(id).jpg"
        alt="Book: @(name)"
        class="products-card__img" />
                    </a>
                </div>
                <!-- /.products-card__wrap-img -->
                <div class="products-card__content">
                    <h4 class="catalog__title products-card__title">
                        @Html.DisplayFor(modelItem => item.name)
                    </h4>
                    <span class="catalog__author products-card__collection">@Html.DisplayFor(modelItem => item.author)</span>
                        @{
                            string btnStr = "";
                        }
                        @if (item.status == "аренда")
                        {
                            btnStr = "Хочу прочитать";
                            <span class="catalog__price products-card__price">@Html.DisplayFor(modelItem => item.price) &#8381;</span>
                        }
                        else
                        {
                            btnStr = "Купить";
                            <span class="catalog__price products-card__price">@Html.DisplayFor(modelItem => item.sellPrice) &#8381;</span>
                        }
                    
                    <div class="products-card__wrap-btn">
                        
                        
                        @if (User.Identity != null)
                        {
                            @if (User.Identity.IsAuthenticated == true)
                            {
                                <a href="~/CartAdd/@(User.FindFirst("ID").Value.ToString())/@(item.id)/@(item.status)">

                                    <button class="button catalog__btn products-card__btn">@btnStr</button>
                                </a>

                            }
                            else
                            {
                                <a href="~/SignInCheckForAvatar">
                                    <button class="button catalog__btn products-card__btn">@btnStr</button>
                                </a>
                            }
                        }
                        else
                        {
                            <a href="~/SignInCheckForAvatar">
                                <button class="button catalog__btn products-card__btn">@btnStr</button>
                            </a>
                        }



                    </div>
                </div>
                <!-- /.products-card__content -->
            </div>
            <!-- /.products-card products__card -->
        }
    }
        <h3 class="form-title" style="width: 100%;">Покупка</h3>
        @foreach (var item in Model.Where(s => s.status == "продажа"))
        {
            @if (item.in_stock > 0)
            {
                string id = item.id.ToString();
                string name = item.name.ToString();
                <div class="catalog__card" id="@(id)">
                    <div class="catalog-card__wrap-img">
                        <a action="get" href="~/Books/Details/@id">
                            <img src="~/img/books/@(id).jpg"
                                 alt="Book: @(name)"
                                 class="products-card__img" />
                        </a>
                    </div>
                    <!-- /.products-card__wrap-img -->
                    <div class="products-card__content">
                        <h4 class="catalog__title products-card__title">
                            @Html.DisplayFor(modelItem => item.name)
                        </h4>
                        <span class="catalog__author products-card__collection">@Html.DisplayFor(modelItem => item.author)</span>
                        @{
                            string btnStr = "";
                        }
                        @if (item.status == "аренда")
                        {
                            btnStr = "Хочу прочитать";
                            <span class="catalog__price products-card__price">@Html.DisplayFor(modelItem => item.price) &#8381;</span>
                        }
                        else
                        {
                            btnStr = "Купить";
                            <span class="catalog__price products-card__price">@Html.DisplayFor(modelItem => item.sellPrice) &#8381;</span>
                        }

                        <div class="products-card__wrap-btn">


                            @if (User.Identity != null)
                            {
                                @if (User.Identity.IsAuthenticated == true)
                                {
                                    <a href="~/CartAdd/@(User.FindFirst("ID").Value.ToString())/@(item.id)/@(item.status)">

                                        <button class="button catalog__btn products-card__btn">@btnStr</button>
                                    </a>

                                }
                                else
                                {
                                    <a href="~/SignInCheckForAvatar">
                                        <button class="button catalog__btn products-card__btn">@btnStr</button>
                                    </a>
                                }
                            }
                            else
                            {
                                <a href="~/SignInCheckForAvatar">
                                    <button class="button catalog__btn products-card__btn">@btnStr</button>
                                </a>
                            }



                        </div>
                    </div>
                    <!-- /.products-card__content -->
                </div>
                <!-- /.products-card products__card -->
            }
        }
</div>
</div>
@*<a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>*@
           
